obj_dir
log
reports
layout
synthesis

.magicrc
iv_exec

*.sh
*.blif
*.par
*.rtl.v
*.rtlbb.v
*.rtlnopwr.v
*.spc
*.xspice
*_nofanout
*_powerground
*.vcd
test.*
firmware.*
*.o
*.pdf
*.bkp
*.out

source/*.ys
source/*.blif

software/*.ld